    <div>
        <nav class="navbar navbar-light bg-light" id="wrap">
          <a class="navbar-brand" id="footer_title"><i class="far fa-copyright"></i> Illinois Wesleyan University Biology Department</a>
          
          <ul class="nav navbar-nav navbar-right" id="footer_search">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Search</button>
              </form>
          </ul>
        </nav>
    </div>
	</body>
</html>