<% include partials/header %>

<div class="container">
<div class="jumbotron">
	<h1 class="mainH1"><center>What is the Purpose of our Database?</center></h1>
	
		<br>
		<h2>What We Are Doing</h2>
			<p>Students are encouraged to undergo a year-long research project to discover bacteriophages. Bacteriophages are viruses
			that infect bacterial cells, otherwise known as the host. Each bacteriophage has a range of hosts. Some bacteriophages may 
			infect only one	host, while others may infect many. The purpose of using several hosts during discovery is to: </p>
			
				<ul>
					<li>Increase our range of knowledge on bacteriophages in general</li>
					<li>Contribute to the discovery of a broader range of bacteriophages</li>
					<li>Investigate a single bacteriophage's host range</li>
				</ul>
				
			<p>While the SEA-PHAGES program mainly focuses on finding viruses that infect the Mycobacteria and other hosts within 
			the phylum Actinobacteria, there is not a database for IWU students to keep information pertaining to bacteriophages that 
			infect Rhodobacter capsulatus and other related bacterial hosts.</p>

		<br>
			
			
	<h1 class="subH1"><center>The SEA-PHAGES Program</center></h1>
		<br>
		
		<img src="https://seaphages.org/static/images/SEAPHAGES_Logo.png" alt="Generic placeholder image">
		<br><br>

		<div class="container-fluid">
			<img class="col-xs-2" src="http://phagesdb.org/media/emPics/Silver_EMPic_Thumb.jpg">
			<h2 class="col-xs-10">What is it?</h2>
				<p class="col-xs-10">SEA-PHAGES (Science Education Alliance-Phage Hunters Advancing Genomics and Evolutionary Science) 
				is a two-semester, discovery-based undergraduate research course that begins with simple digging in the soil or extracting 
				water samples from the environment to find new viruses, but progresses through a variety of microbiology techniques and 
				eventually to complex genome annotation and bioinformatic analyses.</p>

				<p>The program aims to increase undergraduate interest and retention in the biological sciences through immediate
				immersion in authentic, valuable, yet accessible research. By finding and naming their own bacteriophages, students 
				develop a sense of project ownership and have a ready-made personal research project at a fraction of the cost of
				traditional apprentice-based research programs. Some of the positive effects of the SEA-PHAGES program have been 
				reported here.</p>

				<p>SEA-PHAGES is jointly administered by Graham Hatfull's group at the University of Pittsburgh and the Howard Hughes 
				Medical Institute's Science Education division.</p>

			<h2>How IWU Joined</h2>
				<p>Illinois Wesleyan University joined the SEA-PHAGES program in 2011 as an Associate member of Cohort IV.</p>
				
		</div>

	</div>
</div>

<% include partials/footer %>