<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1 class="mainH1">The IWU Bacteriophages Database</h1>
		<br>
			<h2>Welcome to our page!</h2><br>
			<p>Welcome to the IWU Bacteriophages Database, where phages discovered by Illinois Wesleyan University students are stored for future research. 
			Currently, students are working to isolate newly discovered phages from several strains of bacteria,
			including strains from Rhodobacter capsulatus and Mycobacterium smegmatis</p>
			<br>
			
			<h2>What you will find here</h2><br>
			
			<h3>The Database</h3><br>
			<p>This website provides students with user-friendly access to the Illinois Wesleyan University database. Here, students can upload information
			pertaining to the discovery of their own newly found phages. Students must first have an account, which is provided to them by their lab
			advisor to prevent information from being stolen. Students can then add, view, modify, and delete phages with approval from an admin user. </p>
			<br>
		
			<h3>Supplemental Information</h3><br>
			<p>Did you forget one of the websites? Did you lose your lab manual and need a list of the protocols? On the Supplemental Information page, 
			several items and links are listed for student's convenience. This includes the wet lab manual, several links to useful websites, and much more.</p>
	</div>
</div>

<% include partials/footer %>